._button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

._buttons {
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 8px;
    width: 100px !important;
    border-radius: 5px;
}

._button,
._button.disabled:hover {
    display: block;
    text-decoration: none !important;
    border-radius: 3px !important;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transition: all 400ms;
    transition-property: background, color;
    color: #fff !important;
    background-color: #6200ee;
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

a._button {
    font-weight: 900;
}

._button:hover {
    background-color: #fff;
    color: #000 !important;
}

._all_buttons {
    position: fixed;
    right: 15%;
    bottom: 8px;
    transition: bottom 400ms;
}

._close_button {
    width: 100px;
    border: 0;
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
    padding: 5px;
}
