html {
	font-size: 90%;
}

body {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 320px;
	font-size: 120%;
}

.title-bar-text {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 1rem;
}

.logo {
	display: block;
	margin: 0 auto;
	height: 8rem;
	width: 8rem;
	filter: drop-shadow(0px 0px 4px #000);
}

a {
	font-size: 1.2em;
}

p {
	font-size: 1rem;
}

button {
	font-size: 1rem;
	padding: 1.2rem 2rem;
	display: block;
	margin: 0 auto;
}
